<template>
<div>
    <base-dialog title="Invalid Input" v-if="inputIsInvalid" @close="confirmError">
        <template #default>
            <p>unfortunately, at least one input value is invalid.</p>
            <p>please check all input and make sure you enter at least a few characters into each input field.</p>
        </template>
        <template #actions>
            <base-button @click="confirmError">Okay</base-button>
        </template>
    </base-dialog>
    <base-card>
        <form @submit.prevent="submitData()">
            <div class="form-control">
                <label for="title"></label>
                <input id="title" name="title" type="text" ref="titleInput">
            </div>
            <div class="form-control">
                <label for="description"></label>
                <textarea name="description" id="description" row="3" ref="descriptionInput"></textarea>
            </div>
            <div class="form-control">
                <label for="link"></label>
                <input id="link" name="link" type="url" ref="linkInput">
            </div>
            <div>
                <base-button type="submit">Add Resource</base-button>
            </div>
        </form>
    </base-card>
</div>

</template>
<script>
export default {
    inject: ['addResource'],
    data(){
      return{
          inputIsInvalid: false
      }  
    },
    methods: {
        submitData(){
            const enteredTitle = this.$refs.titleInput.value
            const enteredDescription = this.$refs.descriptionInput.value
            const enteredUrl = this.$refs.linkInput.value
            
            if(enteredTitle.trim() === '' || enteredDescription.trim() === '' || enteredUrl.trim() === ''){
                this.inputIsInvalid = true
                
            }else{
            this.addResource(enteredTitle, enteredDescription, enteredUrl)

            }
        },
        confirmError(){
            this.inputIsInvalid = false
        }
    }
}
</script>
<style scoped>
label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.15rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #3a0061;
  background-color: #f7ebff;
}

.form-control {
  margin: 1rem 0;
}
</style>