<template>
<div>
    <base-card>
        <base-button @click="setSelectedTab('stored-resources')" :mode="storedResButtonMode">Stored Resources</base-button>
        <base-button @click="setSelectedTab('add-resources')" :mode="addResButtonMode">Add Resources</base-button>
    </base-card>
    <component :is="selectedTab"></component>
</div>
</template>

<script>
import StoredResources from './StoredResources'
import AddResources from './AddResource'

export default {
    components: {
        StoredResources,
        AddResources
    },
    data() {
        return {
            selectedTab: 'stored-resources',
            storedResources: [{
                    id: 'official-guide',
                    title: 'Official Guide',
                    description: 'the official vue.js documentation',
                    link: 'Https://vuejs.org'
                },
                {
                    id: 'google',
                    title: 'Google',
                    description: 'Learn to Google...',
                    link: 'Https://google.com'
                }
            ]
        }
    },
    computed: {
        storedResButtonMode() {
            if (this.selectedTab === 'stored-resources') {
                return null
            }
            return 'flat'
        },
        addResButtonMode() {
            if (this.selectedTab === 'add-resources') {
                return null
            }
            return 'flat'
        }
    },
    provide() {
        return {
            resource: this.storedResources,
            addResource: this.addResources,
            deleteItem: this.deleteItem
        }
    },
    methods: {
        setSelectedTab(tab) {
            this.selectedTab = tab
        },
        addResources(title, des, url){
            const newRes = {
                id: new Date().toISOString(),
                title: title,
                description: des,
                link: url
            };
            this.storedResources.unshift(newRes)            
            this.selectedTab = "stored-resources"
        },
        deleteItem(id){
            const resIndex = this.storedResources.find(res => res.id === id)
            this.storedResources.splice(resIndex, 1)
        }
    }
}
</script>
