<template>
<div>
    <the-header title="RememberMe"></the-header>
    <!-- <stored-resource :resource="storedResources"></stored-resource> -->
    <the-reources></the-reources>
</div>
</template>

<script>
// import StoredResource from './components/learning-resources/StoredResources.vue'
import TheHeader from './components/layout/TheHeader.vue'
import TheReources from './components/learning-resources/TheResources.vue'

export default {
    components: {
        TheHeader,
        TheReources
    }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}
</style>
